<h2><%= t("page.privacy.title") %></h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda reiciendis sit aliquid repudiandae dolorem quaerat laborum distinctio vero, incidunt illum quas porro, hic harum alias voluptate obcaecati error saepe! Sequi.</p>