@tailwind base;
@tailwind components;
@tailwind utilities;

.field_with_errors {
  display: inline-block;

  & input[type="text"] {
    border: 2px solid red;
  }

  & input[type="number"] {
    border: 2px solid red;
  }
}

.flash-notice {
  @apply px-2 py-3 text-white bg-orange-500;
}

.flash-alert {
  padding: 5px;
  color: white;
  background: #f00;
}

.ink-btn {
  @apply inline-block bg-gray-500 text-white rounded px-2 py-1 mx-1 my-3;
}
.ink-btn-danger {
  @apply bg-rose-700;
}

.ink-border {
  @apply inline-block border-gray-500 border-1 rounded px-2 py-1 mx-1 my-3;
}

.field {
  @apply border-2 border-black;
}
