<h1>已上架商品</h1>
<%= link_to "新增商品", new_product_path, class:'ink-btn' if user_signed_in? %>
<ul class="grid grid-cols-1 gap-3 md:grid-cols-2 lg:grid-cols-4" data-controller="drag">
    <%= render partial: 'item', collection: @products, as: :product %>
</ul>
